footer {
  background: linear-gradient(90deg, #2a5298 0%, #1e3c72 100%);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: 20px;
}

.footer-logo {
  display: block;
  margin-bottom: 10px;
  width: 150px;
  height: auto;
}

footer p {
  margin: 0;
}
