{% extends 'base.html' %}

{% block content %}
    <h1 class="centered-heading news-heading">Список контактной информации</h1>

    <form method="get" action="{% url 'about_app:search_data_reference_book' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Введите текст для поиска" required>
        <button type="submit">Искать</button>
    </form>
    
    {% if reference_book_data %}
        <ul>
            {% for reference in reference_book_data %}
                <li>
                    <strong>Имя:</strong> {{ reference.name | title }}
                    <br> <strong>Должность:</strong> {{ reference.job | capfirst}}
                    <br> <strong>Добавочный номер:</strong> {{ reference.additional_number }}
                    <br> <strong>Место работы:</strong> {{ reference.work_place | title }}
                    <br> <strong>Дополнительная информация:</strong> {{ reference.additional_info | capfirst }}
                </li>
                <hr>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if reference_book_data.has_previous %}
                    <a href="?page=1">&laquo; Первая</a>
                    <a href="?page={{ reference_book_data.previous_page_number }}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ reference_book_data.number }} из {{ reference_book_data.paginator.num_pages }}.
                </span>

                {% if reference_book_data.has_next %}
                    <a href="?page={{ reference_book_data.next_page_number }}">Следующая</a>
                    <a href="?page={{ reference_book_data.paginator.num_pages }}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Нет данных для отображения</p>
    {% endif %}
{% endblock %}
