{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="centered-heading news-heading">Список заявлений сотрудников</h1>
    
    <form method="get" action="{% url 'hr_app:search_vac_data' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Введите имя для поиска" required>
        <button type="submit">Искать</button>
        <a href="{% url 'hr_app:vacation_list' %}" class="reset-link">Сбросить поиск</a>
    </form>

    {% if vac_data %}
        <ul>
            {% for vac in vac_data %}
                <li>
                    ФИО: {{ vac.name | title }}
                    <br> Должность: {{ vac.job | capfirst }}
                    <br> Начало отпуска: {{ vac.vacation_date_start}}
                    <br> Окончание отпуска: {{ vac.vacation_date_end }}
                    <br> Вид отпуска: {{ vac.vacation_type }}
                    <br> Статус: {{ vac.status_confirm }}
                    <br>Заявление отравлено: {{ vac.uploaded_at }}</li>
                    {% if user.is_authenticated and perms.hr_app.can_edit_vacation_status %}
                        <a href="{% url 'hr_app:edit_vacation_status' vac.id %}">Обновить статус</a>
                    {% endif %}
                    <br>
                </li>
                <br>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if vac_data.has_previous %}
                    <a href="?page=1">&laquo; Первая</a>
                    <a href="?page={{ vac_data.previous_page_number }}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ vac_data.number }} из {{ vac_data.paginator.num_pages }}.
                </span>

                {% if vac_data.has_next %}
                    <a href="?page={{ vac_data.next_page_number }}">Следующая</a>
                    <a href="?page={{ vac_data.paginator.num_pages }}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Нет данных для отображения</p>
    {% endif %}
{% endblock %}
