{% extends 'base.html' %}

{% block title %}
    Отзывы и предложения
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="centered-heading news-heading">Отзывы и предложения</h1>
    <form action="" method="post" enctype="multipart/form-data" class="feedback-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
    <br>
    <br>
    {% comment %} <a href="{% url 'index' %}" class="back-link">Вернуться на главную</a> {% endcomment %}
</div>
{% endblock %}
