{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Корпоративный портал GRANDO{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/datepickerRus.js' %}"></script>
    <script src="{% static 'js/treeJs.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <h1>Корпоративный портал GRANDO</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}"><i class="fas fa-home"></i> Главная</a></li>
            <li><a href="{% url 'apps.news_app:news_list' %}"><i class="fas fa-newspaper"></i> Новости</a></li>
            <li><a href="{% url 'apps.about_app:page_about' %}"><i class="fas fa-users"></i> Наша команда</a></li>
            {% if user.is_authenticated %}
            
            <li class="has-submenu">
                <a href="#"><i class="fas fa-user-cog"></i> Для сотрудников</a>
                <ul class="submenu">
                    <li><a href="{% url 'apps.hr_app:vacation_upload' %}">Заявление на отпуск</a></li>
                    <li><a href="{% url 'apps.hr_app:vacation_list' %}">Статус заявления</a></li>
                    <li><a href="{% url 'apps.feedback_app:feedback' %}">Опрос и обратная связь</a></li>
                    <li><a href="{% url 'apps.about_app:reference_book_list' %}"> Контактная информация</a></li>
                    <li><a href="{% url 'apps.education_app:education_content' %}"> Обучение</a></li>
                </ul>
            </li>
            <li><a href="{% url 'apps.hr_app:vacancy_list' %}"><i class="fas fa-list"></i> Активные вакансии</a></li>
            <li><a href="{% url 'apps.users:logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти</a></li>
            {% else %}
            <li><a href="{% url 'apps.hr_app:vacancy_list' %}"><i class="fas fa-list"></i> Активные вакансии</a></li>
            <li class="has-submenu">
                <a href="#"><i class="fas fa-user-cog"></i> Для сотрудников</a>
                <ul class="submenu">
                    <li><a href="{% url 'apps.hr_app:vacation_upload' %}">Заявление на отпуск</a></li>
                    <li><a href="{% url 'apps.hr_app:search_form_non_auth_user' %}">Статус заявления</a></li>
                    <li><a href="{% url 'apps.feedback_app:feedback' %}">Опрос и обратная связь</a></li>
                    <li><a href="{% url 'apps.education_app:education_content' %}"> Обучение</a></li>
                </ul>
            </li>
            <li><a href="{% url 'apps.users:login' %}"><i class="fas fa-sign-in-alt"></i> Войти</a></li>
            <li><a href="{% url 'apps.users:register' %}"><i class="fas fa-user-plus"></i> Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <footer>
        <img src="{% static 'images/logo.png' %}" alt="Грандо Логистик" class="footer-logo" />
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
